.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border: 10px solid;
  border-color: #128c7e;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border-radius: 50%;
  }
}

.App-header {
  background: rgb(7,94,84);
  background: linear-gradient(90deg, rgba(7,94,84,1) 0%, rgba(37,211,102,1) 79%, rgba(236,229,221,1) 100%); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'nome';
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin  {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: nome;
  src: url(suboleya/Suboleya.ttf);
}

